.ora{
	color: #F88379;
}

.content{
    width: 90%;
}

#editNote textarea{
	background: transparent;
	resize: none;
	border: 0 none;
	white-space: pre-wrap;
}

#editNote input{
	border: 0 none;
	border-bottom: 1px solid gray;
	height: 15%;
}

.userinput{
	height: 82%;
}

input:focus, textarea:focus{
	outline: none;
}

input:focus, textarea:focus{
	outline: none;
}