svg{
	fill: #555555;
}

.ora{
	color: #F88379;
}

.oraborder{
	border-color: #F88379;
}

.flex > span.dim{
	cursor: pointer;
}

.darken{
	color: darkgrey;
}

.darken > svg{
	fill: darkgrey;
}

textarea{
	background: transparent;
	resize: none;
	border: 0 none;
}

#new input{
	border: 0 none;
	border-bottom: 1px solid gray;
	height: 15%;
}

.userinput{
	height: 85%;
}

.content{
	width: calc(90% + 12px);
}

input:focus, textarea:focus{
	outline: none;
}