.ora{
	color: #F88379;
}

.oraborder{
	border-color: #F88379;
}

.oraborder > svg{
	fill: #F88379;
}

.flex > span.dim{
	cursor: pointer;
}

textarea{
	background: transparent;
	resize: none;
	border: 0 none;
	white-space: pre-wrap;
}

#new input{
	border: 0 none;
	border-bottom: 1px solid gray;
	height: 15%;
}

.userinput{
	height: 85%;
}

.content{
	width: calc(90% + 12px);
}

input:focus, textarea:focus{
	outline: none;
}

.push{
	height: 40px;
}

.journal-entry{
	word-wrap: break-word;
	min-width: 120px;
}


article.footer{
	background-color: white;
}