#load-more{
    background-image: linear-gradient(#F88379 0%, rgba(0,0,0,0) 50%);
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

.journal-entry, .note-entry{
	word-wrap: break-word;
	min-width: 170px;
    min-height: 90px;
}

.journal-entry:last-child, .note-entry:last-child{
	margin-right:0 !important;
}