.ora {
    color: #f88379;
}

.content {
    width: 90%;
    height: 100vh;
}

#load-more {
    background-image: linear-gradient(#f88379 0%, rgba(0, 0, 0, 0) 50%);
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}
